.view-layout {
  height: 100% !important;
  width: 100% !important;
}

.shortcuts-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-grow: 2;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  width: 100%;
  height: 100%;
}